In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
#Car
df=pd.read("")
Car=pd.Series(['Toyota','Mitsubishi','skoda','Fait','Mini','VW','Skoda','Mercedes','Ford','Audi'])
Car

0        Toyota
1    Mitsubishi
2         skoda
3          Fait
4          Mini
5            VW
6         Skoda
7      Mercedes
8          Ford
9          Audi
dtype: object

In [3]:
#Model
Model=pd.Series(['Ayogo','Space Start','Citigo','500','Cooper','UP!','Fabia','A-Class','Fiesta','A1'])
Model

0          Ayogo
1    Space Start
2         Citigo
3            500
4         Cooper
5            UP!
6          Fabia
7        A-Class
8         Fiesta
9             A1
dtype: object

In [4]:
#Volume
Volume=pd.Series([1000,1200,1000,900,1500,1000,1400,1500,1500,1600])
Volume

0    1000
1    1200
2    1000
3     900
4    1500
5    1000
6    1400
7    1500
8    1500
9    1600
dtype: int64

In [5]:
#Weight
Weight=pd.Series([790,1160,929,865,1140,929,1109,1365,1112,1150])
Weight

0     790
1    1160
2     929
3     865
4    1140
5     929
6    1109
7    1365
8    1112
9    1150
dtype: int64

In [6]:
CO2=pd.Series([99,95,95,90,105,105,90,92,98,99])
CO2

0     99
1     95
2     95
3     90
4    105
5    105
6     90
7     92
8     98
9     99
dtype: int64

# Make dataset of these column using dataframe datatype

In [8]:
df=pd.DataFrame({"Car":Car,"Model":Model,"Volume":Volume,"weight":Weight,"CO2":CO2})
df

          Car        Model  Volume  weight  CO2
0      Toyota        Ayogo    1000     790   99
1  Mitsubishi  Space Start    1200    1160   95
2       skoda       Citigo    1000     929   95
3        Fait          500     900     865   90
4        Mini       Cooper    1500    1140  105
5          VW          UP!    1000     929  105
6       Skoda        Fabia    1400    1109   90
7    Mercedes      A-Class    1500    1365   92
8        Ford       Fiesta    1500    1112   98
9        Audi           A1    1600    1150   99

In [9]:
#we dont need car and Model Columns so
df=pd.DataFrame({"Volume":Volume,"weight":Weight,"CO2":CO2})
df

   Volume  weight  CO2
0    1000     790   99
1    1200    1160   95
2    1000     929   95
3     900     865   90
4    1500    1140  105
5    1000     929  105
6    1400    1109   90
7    1500    1365   92
8    1500    1112   98
9    1600    1150   99

In [10]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('CO2',axis='columns'),df.CO2)

LinearRegression()

In [11]:
m=reg.coef_

In [12]:
c=reg.intercept_

In [13]:
#Finding the CO2 emmision of a car where weight is 2400kg, and the volume is 1200cm2
reg.predict([[1200, 2400]])

C:\Users\fandy\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([66.45856881])

In [16]:
#sing c+m1x1+m2x2+m3x3+M4x4 ----- formula to verify answer

##reg.coef_*1200+reg.coef_*2400+ reg.intercept_ (m1x1+m2x2+c)

# I have used only 10 dataset

In [15]:
m[0]*1200 + m[1]*2400 + c

66.45856881452269